html {
  /* scrollbar-width: none; */
  scroll-snap-type: y mandatory;
  -ms-scroll-snap-type: y mandatory;
  -webkit-scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  /* overflow: hidden; */
}

::-webkit-scrollbar {
  -webkit-appearance: none;
}

html::-webkit-scrollbar {
  display: none;
}

.albumSelectionForm {
  display: flex;
  flex-direction: column;
  /* height: 99vh; */
  justify-content: center;
  align-items: center;
}

.button_flex {
  display: flex;
  align-items: center;
  gap: 1em;
  /* flex: 1; */
}

.button_flex div {
  background-color: #b48e75;
  padding: 0.4em 1em;
  /* height: 100%; */
  border-radius: 0.2em;
}

button {
  padding: 0.5em 2em;
  border-radius: 0.2em;
  font-size: 1.2em;
  color: white;
  background: #b48e75;
  outline: none;
  border: none;
}

.albumSelectionForm h1 {
  text-align: center;
  color: #c1c1c1;
}

.entry {
  min-height: 100dvh;
  /* scroll-snap-align: c; */
  scroll-snap-stop: always;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
  align-items: center;
}

.intersect > * {
  opacity: 0;
  /* transform: translateY(2vh); */
  /* display: none; */
  visibility: hidden !important;
}

.show > * {
  visibility: visible !important;
  animation: entry 0.2s ease-in forwards;
  /* animation-delay: 0.4s; */
}

@keyframes entry {
  from {
    opacity: 0;
    /* transform: translateY(2vh); */
  }
  to {
    opacity: 1;
    /* transform: translateY(0); */
  }
}

.entry h2 {
  color: #c1c1c1;
  font-weight: 100;
  font-size: 1.4em;
  letter-spacing: 0.04em;
}

.question_answer {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  min-height: 100dvh;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: space-evenly;
  justify-content: center;
  align-items: center;
  padding: 1em;
  margin-top: 1em;
  width: 100%;
  max-width: 720px;
}

.question-header {
  display: flex;
  align-items: flex-start;
  gap: 1em;
}

.question-header .question {
  font-size: 1.4em;
  letter-spacing: 0.04em;
}

.question-header .icon {
  display: flex;
  align-items: center;
  font-size: 0.9em !important;
}

.question-header .icon .arrow {
  scale: 0.6;
}

.img-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  width: 100%;
  max-width: 720px;
  max-height: 25em;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: thin !important;
  background: #202020;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 10px;
  box-shadow: 0px 0px 4px #bbb6b649;
  scroll-behavior: smooth;
}

.img-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.img-outer {
  display: flex;
  width: 5em;
  height: 5em;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0px 0px 4px #bbb6b649;
  position: relative;
  cursor: pointer;
}

.img-outer img {
  width: 100%;
  height: 100%;
  position: relative;
}

.img-outer.selected {
  border: 2px solid #b48e75;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 20px 0;
}

.separator p {
  margin: 0 10px;
  white-space: nowrap;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 2px solid #ccc;
  margin: 0 10px;
}


.img-outer .backdrop-img {
  position: absolute;
  background: #fff;
  z-index: 11;
}

.img-outer-other {
  display: flex;
  width: 5em;
  height: 5em;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0px 0px 4px #bbb6b649;
  position: relative;
}

.img-outer-other img {
  width: 100%;
  height: 100%;
  position: relative;
}

.img-outer-other .selected {
  border: 2px solid #b48e75;
}

.img-outer-other .backdrop-img {
  position: absolute;
  background: #fff;
  z-index: 11;
}

.number_input {
  width: 60%;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid #b48e75;
  color: #c1c1c1;
  text-align: center;
  font-size: 1em;
  /* width: 2em; */
  max-width: 100px;
}

.number_input:nth-child(1) {
  margin-bottom: 1em;
}

.number_input::-webkit-inner-spin-button,
.number_input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.input_container {
  display: flex;
  gap: 1em;
}

.icon_container {
  display: flex;
  align-items: center;
  background-color: #b48e75;
  padding: 2px;
  border-radius: 2px;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .img-options {
    max-height: 20em;
  }

  .img-outer {
    width: 4.3em;
    height: 4.3em;
  }

  .button_flex {
    width: 90%;
  }

  button {
    width: 90%;
  }
}

.img-options::-webkit-scrollbar {
  width: 0.2em;
  border-radius: 10px;
}

.img-options::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #c1c1c1;
}

.img-options::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #b48e75;
}

.img-options::-webkit-scrollbar-thumb:hover {
  border-radius: 10px;
  background: #d19f7d;
}

.img-options::-webkit-scrollbar-button {
  border-radius: 10px;
  display: none;
}





.selected-face {
  display: flex;
  align-items: center;
  gap: 10px;
  /* margin-top: 20px; */
}

.selected-face h3 {
  margin-right: 10px;
}

.selected-face img {
  width: 50px;
    height: 50px;
    border-radius: 8px;
    object-fit: cover;
    border: 2px solid #007bff;
}




/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
} */
/* 
.container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.sidebar {
  width: 200px;
  background-color: #f4f4f4;
  overflow-y: auto;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 15px;
  cursor: pointer;
}

.sidebar ul li:hover {
  background-color: #ddd;
}

.content {
  flex: 1;
  padding: 20px;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.tab {
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}

.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tab button:hover {
  background-color: #ddd;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tabcontent.active {
  display: block;
}  */


.container {
  display: flex;
}

.sidebar ul {
  list-style: none;
  padding: 0; /* Ensure no padding */
  margin: 0; /* Ensure no margin */
}

.sidebar ul li {
  cursor: pointer;
  padding: 10px;
  list-style: none;
}

/* .sidebar ul li.active {
  background-color:#333;
  font-weight: bold;
  /* color: #333; 
} */

.content {
  flex: 1; /* Takes the remaining space */
  padding: 20px;
  overflow-y: auto; /* Allows scrolling if the content is too long */
  background-color: #fff;
}

ul li {
  cursor: pointer;
  padding: 10px;
  list-style: none;
}

ul li.active {
  background-color: #f0f0f0; /* Change this to your desired highlight color */
  font-weight: bold; /* Optional: make the text bold */
  color: #333; /* Change this to your desired text color */
}

.partition-style {
  width: 100%;
  height: 2px;
  /* background-color: #ccc; */
  border: none;
  margin: 10px 0;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

.separator p {
  margin: 0 10px;
  white-space: nowrap;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 2px solid #ccc;
  margin: 0 10px;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}


