html {
  /* scrollbar-width: none; */
  scroll-snap-type: y mandatory;
  -ms-scroll-snap-type: y mandatory;
  -webkit-scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  /* overflow: hidden; */
}

::-webkit-scrollbar {
  -webkit-appearance: none;
}

html::-webkit-scrollbar {
  display: none;
}

.albumSelectionForm {
  display: flex;
  flex-direction: column;
  /* height: 99vh; */
  justify-content: center;
  align-items: center;
}

.button_flex {
  display: flex;
  align-items: center;
  gap: 1em;
  /* flex: 1; */
}

.button_flex div {
  background-color: #b48e75;
  padding: 0.4em 1em;
  /* height: 100%; */
  border-radius: 0.2em;
}

button {
  padding: 0.5em 2em;
  border-radius: 0.2em;
  font-size: 1.2em;
  color: white;
  background: #b48e75;
  outline: none;
  border: none;
}

.albumSelectionForm h1 {
  text-align: center;
  color: #c1c1c1;
}

.entry {
  min-height: 100dvh;
  /* scroll-snap-align: c; */
  scroll-snap-stop: always;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: center;
  align-items: center;
}

.intersect > * {
  opacity: 0;
  /* transform: translateY(2vh); */
  /* display: none; */
  visibility: hidden !important;
}

.show > * {
  visibility: visible !important;
  animation: entry 0.2s ease-in forwards;
  /* animation-delay: 0.4s; */
}

@keyframes entry {
  from {
    opacity: 0;
    /* transform: translateY(2vh); */
  }
  to {
    opacity: 1;
    /* transform: translateY(0); */
  }
}

.entry h2 {
  color: #c1c1c1;
  font-weight: 100;
  font-size: 1.4em;
  letter-spacing: 0.04em;
}

.question_answer {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  min-height: 100dvh;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: space-evenly;
  justify-content: center;
  align-items: center;
  padding: 1em;
  margin-top: 1em;
  width: 100%;
  max-width: 720px;
}

.question-header {
  display: flex;
  align-items: flex-start;
  gap: 1em;
}

.question-header .question {
  font-size: 1.4em;
  letter-spacing: 0.04em;
}

.question-header .icon {
  display: flex;
  align-items: center;
  font-size: 0.9em !important;
}

.question-header .icon .arrow {
  scale: 0.6;
}

.img-options {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1em;
  width: 100%;
  max-width: 720px;
  max-height: 25em;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: 1em !important;
  background: #202020;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 10px;
  box-shadow: 0px 0px 4px #bbb6b649;
  scroll-behavior: smooth;
}

.img-outer {
  display: flex;
  width: 5em;
  height: 5em;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0px 0px 4px #bbb6b649;
}

.img-outer img {
  width: 100%;
  height: 100%;
}

.number_input {
  width: 60%;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 1px solid #b48e75;
  color: #c1c1c1;
  text-align: center;
  font-size: 1em;
  /* width: 2em; */
  max-width: 100px;
}

.number_input:nth-child(1) {
  margin-bottom: 1em;
}

.number_input::-webkit-inner-spin-button,
.number_input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.input_container {
  display: flex;
  gap: 1em;
}

.icon_container {
  display: flex;
  align-items: center;
  background-color: #b48e75;
  padding: 2px;
  border-radius: 2px;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .img-options {
    max-height: 20em;
  }

  .img-outer {
    width: 4.3em;
    height: 4.3em;
  }

  .button_flex {
    width: 90%;
  }

  button {
    width: 90%;
  }
}

.img-options::-webkit-scrollbar {
  width: 0.2em;
  border-radius: 10px;
}

.img-options::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #c1c1c1;
}

.img-options::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #b48e75;
}

.img-options::-webkit-scrollbar-thumb:hover {
  border-radius: 10px;
  background: #d19f7d;
}

.img-options::-webkit-scrollbar-button {
  border-radius: 10px;
  display: none;
}
