.App {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
}

button{
    cursor: pointer;
}

.post {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  border: 1px solid lightgray;
  font-family: Arial, Helvetica, sans-serif;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.post:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
}
.post .title {
  flex: 20%;
  border-bottom: 1px solid lightgray;
  background-color: dodgerblue;
  display: grid;
  place-content: center;
  color: white;
}

.post .body {
  flex: 60%;
  display: grid;
  place-content: center;
}

.post .footer {
  flex: 20%;
  border-top: 1px solid lightgray;
  display: flex;
  align-items: center;
  padding-left: 15px;
  background-color: dodgerblue;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.footer .username {
  flex: 50%;
}
.footer .buttons {
  flex: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.likeBttn {
  color: rgba(250, 250, 250, 0.8);
}
.unlikeBttn {
  color: white;
}

.buttons label {
  margin-right: 20px;
  margin-left: 10px;
}

/* CREATE POST PAGE CSS */

.createPostPage {
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: auto;
  padding: 20px;
  border: 5px solid dodgerblue;
  border-radius: 5px;
}

.formContainer #inputCreatePost {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px solid grey;
  border-radius: 5px;
  padding-left: 10px;
  font-size: 20px;
}

.formContainer button {
  margin-top: 15px;
  height: 40px;
  border: none;
  background-color: lightskyblue;
  border-radius: 5px;
  color: white;
}

.formContainer button:hover {
  cursor: pointer;
  background-color: dodgerblue;
}

span {
  color: red;
  background-color: #1c1c1c;
  font-size: 5rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 1000;
}

/* NAVBAR */

.navbar {
  width: 100%;
  height: 5em;
  background-color: dodgerblue;
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
    position: fixed;
}
.navbar .links {
  flex: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar .loggedInContainer {
  flex: 50%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
a {
  margin-left: 20px;
  text-decoration: none;
  color: white;
}

.navbar button {
  width: 100px;
  height: 40px;
  cursor: pointer;
  margin-right: 10px;
  background-color: white;
}

.navbar h1 {
  text-align: right;
  margin-right: 10px;
  color: white;
  font-weight: lighter;
}

/* INDIVIDUAL POST */
.postPage {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.leftSide {
  flex: 50%;
  height: calc(100vh - 70px);
  display: grid;
  place-items: center;
}

.rightSide {
  flex: 50%;
  height: calc(100vh - 70px);
  display: grid;
  place-items: center;
  display: flex;
  flex-direction: column;
}

.rightSide .addCommentContainer {
  flex: 20%;
  width: 100%;
  display: grid;
  place-items: center;
  margin-top: 25px;
}

.addCommentContainer input,
button {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  border: none;
}

.addCommentContainer button {
  background-color: dodgerblue;
  color: white;
}

.addCommentContainer input {
  border: 2px solid dodgerblue;
}

.rightSide .listOfComments {
  flex: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listOfComments .comment {
  width: 70%;
  height: auto;
  padding: 30px;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin-top: 20px;
}

#individual {
  height: 500px;
  width: 600px;
}

#individual .title,
#individual .footer {
  font-size: 30px;
}

#individual .body {
  font-size: 25px;
}

/* LOGIN */

.loginContainer {
  display: inline-block;
    float: left;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.loginContainer input,
button {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  border: none;
  margin: 10px;
}

.loginContainer button {
  background-color: dodgerblue;
  color: white;
}

.loginContainer input {
  border: 2px solid dodgerblue;
}

/* dark mode */

.dark-mode {
  background-color: #1c1c1c;
  color: #f0f0f0;
  font-family: 'Open Sans', sans-serif;
}

/* toggle switch */
.toggle-switch {
  position: fixed;
  display: inline-block;
  top: 20px;
  right: 20px;
  z-index: 1000;
  width: 60px;
  height: 34px;
 }
 
 .toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
 }
 
 .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
 }
 
 .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
 }
 
 input:checked + .slider {
  background-color: #2196F3;
 }
 
 input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
 }
 
 .slider.round {
  border-radius: 34px;
 }
 
 .slider.round:before {
  border-radius: 50%;
 }

 .Darktitle{
  position: fixed;
  top: 20px;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  right: 70px;
  width: 60px;
  line-height: 1.2;

}
/*styling for Images to be displayed*/
.imageGalleryContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px; /* Adjust the space between images */
  padding: 20px;
}

.imageGalleryContainer img {
  max-height: 300px; /* Adjust maximum width as needed */
  border-radius: 8px; /* Optional, for rounded corners */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional, for a slight shadow */
}
@media (max-width: 600px) {
  .imageGalleryContainer img {
    max-width: 100%; /* Larger images on smaller screens */
  }
}


/*New Registration & Login CSS */
.login-form input {
    display: block;
    width: auto;
    padding: 1em;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}
.login-form button {
    display: block;
    width: 100%;
    padding: 1em;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #1877f2;
    color: white;
    cursor: pointer;
}
.login-form button[type="button"] {
    background-color: #42b72a;
}

.loginRight{
    float: Right;
    display: inline-block;
}
.loginLeft{
    display: block;
    max-width: 25em;
    /*padding: 25%;*/
}

/*Facebook Styled Registration & Login CSS */
.loginBody{
font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.login-form-container {
    /*margin-left: 100px;*/
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: max-content;
    display: contents;
    align-items: center;
}

.login-form {
    display: inline-grid;
    /*flex-direction: column;*/
    /*padding: 10%;*/
    max-width: 20em;
    width: -webkit-fill-available;
}

.login-form input {
    margin-bottom: 1em;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    width: 100%;
    width: -webkit-fill-available;
}

.login-form button {
    padding: 1em;
    margin-bottom: 1em;
    border: none;
    border-radius: 0.5em;
    font-size: 1em;
    cursor: pointer;
}

.login-form button[type="submit"] {
    background-color: #1877f2;
    color: white;
}

.login-form button[type="button"] {
    background-color: #42b72a;
    color: white;
}

.login-form a {
    color: #1877f2;
    text-decoration: none;
    font-size: 1em;
}

p {
    text-align: center;
    font-size: 1em;
    color: grey;
    margin-top: 2em;
}

.loginForgotPassword{
    padding-left: 25%;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
.loginLogo{
    font-family: 'Open Sans', sans-serif; /* This is a placeholder; you'd need the actual font used by Facebook */
    color: #1877f2; /* This is the Facebook blue */
    font-size: 3em; /* Adjust the size as needed */
    font-weight: 700; /* Facebook's logo is bold */
    letter-spacing: -0.05em; /* Adjust letter spacing to closely match the logo */
    height: fit-content;
    width: fit-content;
    max-width: 25em;
}
.logoCaption{
    font-size: 0.5em;
    /* color: #1c1e21; */
    font-family: monospace;
    letter-spacing: 0.05em;
}



.loader {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 3em;
  height: 3em;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.status-post-container {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin: auto;
    margin-top: 15%;
}

#statusInput {
    width: 80%;
    height: 2em;
    border: 1px solid #ccd0d5;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
    resize: none;
}

#fileInput {
    display: block;
    margin-bottom: 10px;
}

#postButton {
    background-color: #4267b2;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

#postButton:hover {
    background-color: #365899;
}

.navbar img{
    max-height: 2 em;
}

