.create-portfolio-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  .invitation-form {
    flex-direction: column;
    width: 60%;
    align-items: center;
    padding-bottom: 20px;
    > * {
      width: 100%;
    }
    .add-folder-button {
      /* border gradient */
      color: black;
      border-radius: 3px;
      border: 2px dotted #fff;
      background:
        linear-gradient(#fff 0 0) padding-box,
        linear-gradient(
            to right,
            #66d3ff 0%,
            #9a6aff 38%,
            #ee75cb 71%,
            #fd4d77 100%
          )
          border-box;
    }
    .submit-button {
      /* background graient */
      background-image: linear-gradient(
        90deg,
        #66d3ff,
        #9a6aff 38%,
        #ee75cb 71%,
        #fd4d77
      );
    }
  }
}

@media (max-width: 540px) {
  .create-event-container {
    .add-folder-button {
      width: 100%;
    }
    .invitation-form {
      width: 90%;
    }
  }
}
