.caution{
    font-size: 0.7rem;
    letter-spacing: 1px;
    margin: 0;
    font-weight: 100;
    color: #f1f1f1;
}

 .contactUs {
  position: fixed;
  bottom: 10px;
  right: 10px;
  /* background-color: rgba(0, 0, 0, 0.7); */
  /* padding: 1px;
  border-radius: 5px; */
  /* z-index: 1000; */
} 

.contactUs a {
  color: #e9f3e9; /* Change to a suitable color */
  text-decoration: none;
}

.contactUs text {
    color: #e9f3e9; /* Change to a suitable color */
    text-decoration: none;
  }
  
.contactUs a:hover {
  text-decoration: underline;
}

.privacyNotice p{
    text-align: left;
}

.privacyNotice a{
    display: contents;
}

@keyframes rotate {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(-10deg); }
  100% { transform: rotate(10deg); }
}

@keyframes blink {
  0%, 20%, 40%, 60%, 80%, 100% { transform: scale(1); }
  10%, 30%, 50%, 70%, 90% { transform: scale(0.9); }
}

.instructions {
  font-size: 1.2rem;
  margin-top: 10px;
}

.rotate {
  animation: rotate 1s infinite;
}

.blink {
  animation: blink 1s infinite;
}
.instructionSpan{
  color:#64a856 ;
}


@media (max-width: 768px) {
  .loginBody {
    padding: 10px;
    z-index: 12;
  }

  .loginLeft {
    padding: 10px;
  }

  .country-code {
    width: 80px;
    margin-right: 5px;
  }

  .iconImg {
    width: 16px;
    height: 16px;
  }

  .submit, .takePhoto {
    font-size: 0.9rem;
  }
}
