.merge-component {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    max-width: 80%;
    width: 600px;
  }
  
  .merge-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .close-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .user-selection {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .main-user, .duplicate-users {
    width: 48%;
  }
  
  .user-slot {
    border: 2px dashed #f0e8e8;
    border-radius: 5px;
    background-color: black;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    cursor: pointer;
    
  }
  
  .selected-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #007bff;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .selected-user img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .merging-text {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 24px;
  font-weight: bold;
  z-index: 2002;
}

.merge-actions {
    display: flex;
    justify-content: center;
  }
  
  .merge-actions button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .merge-actions button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .merge-animation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
  }
  
  .main-user-animate,
  .duplicate-user-animate {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    position: absolute;
  }
  
  .main-user-animate {
    z-index: 2001;
    animation: growAndStay 2s forwards;
  }
  
  .duplicate-user-animate {
    animation: shrinkAndMerge 2s forwards;
  }
  
  @keyframes growAndStay {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    100% {
      transform: scale(1.5);
    }
  }
  
  @keyframes shrinkAndMerge {
    0% {
      transform: scale(1) translate(0, 0);
    }
    100% {
      transform: scale(0) translate(50px, 50px);
    }
  }

  /* In Pro.css */
.wrapper-images-pro.selected-main {
    border: 3px solid #007bff;
  }
  
  .wrapper-images-pro.selected-duplicate {
    border: 3px solid #28a745;
  }