/* .loading-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .event-container {
    font-family: 'source-code-pro', Menlo, Monaco, Consolas, 'Courier New', monospace;
    padding: 1rem;
    min-height: 100vh;
  }
  
  .event-title {
    text-align: center;
    margin: 2rem 0;
    font-size: 2.5rem;
    font-weight: 600;
    color: #d1d5db;
  }
  
  .event-list {
    padding: 0 2rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.5rem;
  }
  
  @media (min-width: 640px) {
    .event-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 768px) {
    .event-list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (min-width: 1024px) {
    .event-list {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  .event-item {
    list-style: none;
  }
  
  .event-card {
    position: relative;
    width: 100%;
    height: 14rem;
    border-radius: 0.375rem;
    overflow: hidden;
    transition: transform 0.2s;
    cursor: pointer;
  }
  
  .event-card:hover {
    transform: scale(0.95);
  }
  
  .event-card-header {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    background: linear-gradient(to bottom, #000000, transparent);
    color: #ffffff;
    padding: 0.5rem;
  }
  
  .delete-icon {
    width: 2rem;
    transition: transform 0.2s;
    cursor: pointer;
  }
  
  .delete-icon:hover {
    transform: scale(0.95);
  }
  
  .event-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  
  .event-card-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to top, #000000, transparent);
    color: #ffffff;
    padding: 0.5rem;
  }
  
  .event-name {
    color: #d1d5db;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .event-link {
    color: #60a5fa;
    text-decoration: underline;
  }
  
  .no-events {
    text-align: center;
    color: #d1d5db;
    font-size: 1.5rem;
  }
  
  .add-button {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
  }
  
  .add-button img {
    padding: 1rem;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 2rem;
  }
  
  .modal-content {
    background-color: #1e293b;
    opacity: 0.9;
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 2rem auto;
    max-width: 32rem;
    width: 60%;
    height: 90%;
    overflow-y: auto;
  }
  
  .modal-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
  }
  
  .modal-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom :1rem;
    margin-top: 0.5rem;
    color: #ffffff;
  }
  
  .close-button {
    margin-bottom: 0.5rem;
    padding: 0.5rem 0.5rem;
    background-color: #1e293b;
    color: #ffffff;
    border-radius: 0.25rem;
    cursor: pointer;
  }
  
  .modal-body {
    position: relative;
  }
  
  .edit-icon {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    transition: transform 0.2s;
    cursor: pointer;
    background-color: #363c48;
    border-radius: 0.25rem;
  }
  
  .edit-icon:hover {
    transform: scale(1.1);
  }
  
  .modal-image {
    margin-bottom: 1rem;
    width: 100%;
    height: 18rem;
    object-fit: cover;
  }
  
  .edit-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.1rem;
  }
  
  .form-label {
    color: #ffffff;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: justify;
  }
  
  .form-value {
    margin-top: 0.5rem;
    text-align: justify;
    padding: 0.1rem;
    border-radius: 0.25rem;
    color: #d1d5db;
    background-color: #1e293b;
    color: #ffffff;
  }
  
  .form-input {
    border: 0px;
    padding: 0.5rem;
    border-radius: 0.25rem;
    color: #ffffff !important;
    background-color: #1e293b !important;
  }
  
  .save-button {
    margin: 0 auto;
    width: 60%
  }
   */

/* Tailwind directives */
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* Base styles */
.loading-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.event-container {
  font-family: Arial, sans-serif;
  padding: 1rem;
  min-height: 100vh;
}

.event-title {
  text-align: center;
  margin: 2rem 0;
  font-size: 2rem;
  font-weight: 600;
  color: black;
}

.event-list {
  padding: 0 1rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0.5rem;
}

/* Tablet and mobile responsiveness */
@media (min-width: 640px) {
  .event-title {
      font-size: 2.5rem;
  }
  .event-list {
      grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .event-list {
      grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .event-list {
      grid-template-columns: repeat(4, 1fr);
  }
}

.event-item {
  list-style: none;
}

.event-card {
  position: relative;
  width: 17rem;
  height: 17rem;
  border-radius: 0.375rem;
  overflow: hidden;
  transition: transform 0.2s;
  cursor: pointer;
}

.event-card:hover {
  transform: scale(0.95);
}

.event-card-header {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  /*background: linear-gradient(to bottom, #000000, transparent);*/
  color: #ffffff;
  padding: 0.5rem;
}

.delete-icon {
  width: 1.5rem;
  transition: transform 0.2s;
  cursor: pointer;
}

.delete-icon:hover {
  transform: scale(0.95);
}

.event-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.event-card-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.event-card-footer p{

}


.event-name {
  color: #d1d5db;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.event-link {
  color: #60a5fa;
  text-decoration: underline;
}

.no-events {
  text-align: center;
  color: #d1d5db;
  font-size: 1.5rem;
}

.add-button {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.add-button img {
  padding: 1rem;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 2rem;
}

.modal-content {
  background-color: #1e293b;
  opacity: 0.9;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 2rem auto;
  max-width: 32rem;
  width: 90%;
  height: 90%;
  overflow-y: auto;
  font-family: Arial, sans-serif !important;
}

.modal-overlay {
  font-family: Arial, sans-serif;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-header {
  display: flex;
  justify-content: space-between;
}

.modal-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  color: #ffffff;
}

.close-button {
  margin-bottom: 0.5rem;
  padding: 0.5rem 0.5rem;
  background-color: #1e293b;
  color: #ffffff;
  border-radius: 0.25rem;
  cursor: pointer;
  
}

.close-button :hover {
  color: red;
}

.modal-body {
  position: relative;
}

.edit-icon {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 1.5rem;
  height: 1.5rem;
  transition: transform 0.2s;
  cursor: pointer;
  background-color: #363c48;
  border-radius: 0.25rem;
}

.edit-icon:hover {
  transform: scale(1.1);
}

.modal-image {
  margin-bottom: 1rem;
  width: 100%;
  height: 14rem;
  object-fit: cover;
}

.edit-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.1rem;
}

.form-label {
  color: #ffffff;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: justify;
}

.form-value {
  margin-top: 0.5rem;
  text-align: justify;
  padding: 0.1rem;
  border-radius: 0.25rem;
  color: #d1d5db;
  background-color: #1e293b;
}

.form-input {
  border: 0px;
  padding: 0.5rem;
  border-radius: 0.25rem;
  color: #ffffff !important;
  background-color: #1e293b !important;
}

.save-button {
  margin: 0 auto;
  width: 60%;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.delete-modal-content{
  background-color: #1e293b;
  opacity: 0.9;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.delete-button {
  background-color: #e3342f;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.cancel-button {
  background-color: #1760d7;
  color: #ffffff;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.delete-button:hover {
  background-color: #cc1f1a;
}

.footer-buttons {
  padding: 1rem;
  margin: 0.5rem;
}

.qr-modal-content {
  width: 30%;
  height: 60%;
  background-color: #1e293b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
}

.qr-modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.qr-footer-buttons {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.qr-footer-buttons:hover {
  background-color: #45a049;
}

.uploadfiles-modal-content {
  width: 95%;
  height: 95%;
  background-color: #1e293b;
  color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.uploadfiles-modal-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.uploadfiles-modal-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #d1d5db;
}


.dropzone {
  border: 2px dashed #cccccc;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.dropzone.active {
  border-color: #00e676;
}

.progress-bar {
  width: 100%;
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 10px;
  margin-top: 20px;
}

.progress {
  height: 100%;
  background-color: #00e676;
  border-radius: 10px;
  transition: width 0.3s ease;
}

.upload-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.upload-button:hover {
  background-color: #45a049;
}

.file-status-table {
  margin-top: 20px;
  border-collapse: collapse; /* Use collapse for better column alignment */
  width: 100%;
}

.file-status-table table {
  width: 100%;
  border-collapse: collapse; /* Ensure borders collapse */
}

.file-status-table th, .file-status-table td {
  border: 0.2em solid #b48e75;
  padding: 0.5em;
  text-align: left;
  vertical-align: middle;
}

.file-status-table th {
  background-color: #b48e75;
  color: white; /* Ensure text is readable on background */
  position: sticky;
  top: 0;
  z-index: 1;
}

.file-status-table th:nth-child(1),
.file-status-table td:nth-child(1) {
  width: 60%; /* Adjusted width for better distribution */
}

.file-status-table th:nth-child(2),
.file-status-table td:nth-child(2) {
  width: 40%; /* Adjusted width for better distribution */
}

.file-status-table .progress-bar {
  width: 100%;
  height: 20px;
  background-color: #f3f3f3;
  border-radius: 5px;
}

.file-status-table .progress-bar span {
  display: block;
  height: 100%;
  background-color: #4caf50;
  text-align: center;
  color: white;
  border-radius: 5px;
}