/* Base styles */
.loading-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.models-page-root {
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  background-color: #F5F5F5;
}

.models-page-model-container {
  font-family: Arial, sans-serif;
  padding: 1rem;
  /* min-height: 100vh; */
  background-color: #F5F5F5;
}

.models-page-model-title {
  text-align: center;
  margin: 2rem 0;
  font-size: 2rem;
  font-weight: 600;
  color: black;
}

.models-page-model-list {
  padding: 0 1rem;
  margin: 0 auto;
  display: grid;
  /* grid-template-columns: repeat(1, 1fr); */
  gap: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.models-page-create-model-card {
  width: 13.75rem;
  height: 13.75rem;
  display: flex;
  justify-content: center;  
  align-items: center;
  background-color: #FFFFFF;
  flex-direction: column;
  row-gap: 1.5rem;
  border-radius: 0.75rem;
  border: 1px solid #00000090;
  > span {
    font-size: 14px;
    font-weight: 400;
    color: #000000CC;
  }
}

.models-page-create-model-card:hover {
  cursor: pointer;
}

.models-page-add-model-image-div {
  width: 4rem;
  height: 4rem;
  background: linear-gradient(145deg, #66D3FF 0%, #9A6AFF 38%, #EE75CB 71%, #FD4D77 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.model-modal {
  background-color: white;
  opacity: 100%;
  label {
    color: black;
    align-self: start;
  }
  span {
    align-self: start;
  }
  .modal-header {
    justify-content: center;
    position: relative;
    .close-button {
      width: fit-content;
      position: absolute;
      right: 10px;
    }
  }
}

/* Tablet and mobile responsiveness */
@media (min-width: 640px) {
  .models-page-model-title {
    font-size: 2.5rem;
  }
  .models-page-model-list {
    /* grid-template-columns: repeat(2, 1fr); */
  }
}

@media (min-width: 768px) {
  .models-page-model-list {
    /* grid-template-columns: repeat(3, 1fr); */
  }
}

@media (min-width: 1024px) {
  .models-page-model-list {
    /* grid-template-columns: repeat(4, 1fr); */
  }
}

.model-item {
  list-style: none;
}

.models-page-model-card {
  width: 13.75rem;
  height: 13.75rem;
  display: flex;
  justify-content: center;  
  align-items: center;
  background-color: #FFFFFF;
  flex-direction: column;
  border-radius: 12px;
  border: 1px solid #00000090;
  position: relative;
  > img {
    min-width: 218px;
    min-height: 218px;
    max-width: 218px;
    max-height: 218px;
    box-sizing: border-box;
    padding: 2px;
    object-fit: cover;
    border-radius: 10px;
  }
  .model-name {
    position: absolute;
    height: 3.25rem;
    width: calc(100% - 6px);
    background-color: #000000A0;
    bottom: 3px;
    border-radius: inherit;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    > span {
      font-size: 1rem;
      color: #FFFFFF;
      font-weight: 400;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

.models-page-model-card:hover {
  border: double 2px transparent;
  background-image: linear-gradient(white, white), linear-gradient(90deg, #66D3FF 0%, #9A6AFF 38%, #EE75CB 71%, #FD4D77 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  cursor: pointer;
}

.model-card-header {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  /*background: linear-gradient(to bottom, #000000, transparent);*/
  color: #ffffff;
  padding: 0.5rem;
}

.model-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.model-card-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  color: white;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.model-name {
  color: #d1d5db;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.model-link {
  color: #60a5fa;
  text-decoration: underline;
}

.no-models {
  text-align: center;
  color: #d1d5db;
  font-size: 1.5rem;
}

.add-button {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.add-button img {
  padding: 1rem;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 2rem;
}

@media only screen and (max-width: 540px) {
  .models-page-model-container {
    padding-left: 0;
    padding-right: 0;
  }
  .models-page-create-model-card, .models-page-model-card {
    width: 10rem;
    height: 10rem;
  }
  .models-page-model-card {
    > img {
      min-width: calc(100% - 2px);
      min-height: calc(100% - 2px);
      height: calc(100% - 2px);
      width: calc(100% - 2px);
    }
  }
}
