.app-bar {
    height: 4.375rem;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid ;
    border-image: linear-gradient(90deg,#66D3FF 0%, #9A6AFF 38%,  #EE75CB 71%, #FD4D77 100%);
    border-image-slice: 1;
}

.app-bar-logo {
    display: flex;
    gap: 0.3125rem;
    height: 1.875rem;
    align-items: center;
    > img {
        height: 1.25rem;
    }
    > span {
        font-size: 1.25rem;
        font-weight: bold;
    }
}

.app-bar-socials {
    display: flex;
    gap: 1.75rem;
    > a {
        margin-left: 0px;
        width: 1.75rem;
        height: 1.75rem;
        display: grid;
        justify-content: center;
        align-items: center;
    }
}