/* ImageModal.css */

.header {
    font-size: 1em;
  }
  
  .container {
    display: flex;
  }
  
  .sidebar {
    width: 8em;
  }
  
  .content {
    padding: 1px;
  }
  
  .wrapper-images img {
    padding: 0em;
  }
  
  .content h2 {
    margin: 0.5em;
  }
  
  .wrapper-images-pro {
    position: relative;
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 2px solid gray;
  }
  
  .wrapper-images-pro:hover {
    transform: scale(1.05);
  }
  
  .wrapper-images-pro img {
    width: 10em;
    height: 11em;
    margin: auto;
    object-fit: cover;
    border-radius: 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* border: 2px solid gray; */
  }
  
  .wrapper-pro {
    display: grid;
    grid-template-columns: repeat(8, 1fr); /* 8 images per row for larger screens */
    gap: 0.50em; /* Gap between grid items */
    margin: 2em;
  }
  
  .wrapper-pro p {
    margin: 0;
  }
  
  .loading-spinner img {
    margin-left: 0em !important;
  }
  
  /* Responsive adjustments for tablets */
  @media (max-width: 1024px) {
    .wrapper-pro {
      grid-template-columns: repeat(4, 1fr); /* 4 images per row for tablets */
      margin: 1em;
    }
  }
  
  /* Responsive adjustments for mobile devices */
  @media (max-width: 768px) {
    .wrapper-pro {
      grid-template-columns: repeat(3, 1fr); /* 2 images per row for mobile devices */
      margin: 1em;
    }
  
    .wrapper-images-pro img {
      width: 100%; /* Full width on mobile */
      height: auto;
    }
  }
  
.loading-spinner img {
     margin-left: 0em !important;
}

.horizontal-sections-wrapper {
    display: flex;
    flex-direction: column; /* Changed to column for better section stacking */
    justify-content: space-between;
    width: 100%;
  }
  
  .horizontal-section {
    width: 100%; /* Full width for each section */
    margin-bottom: 20px; /* Space between sections */
  }

  .horizontal-section-selected {
    width: 100%; /* Full width for each section */
    margin-bottom: 20px; /* Space between sections */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 
              0 1px 3px rgba(0, 0, 0, 0.08);
  }

  .horizontal-sections-wrapper h3{
    margin-bottom: 1em;
    background-color: rgb(236, 229, 229);
    padding: 0.5em;
  }
  
  .image-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Align items to the start of the row */
  }
  
  .image-container {
    flex: 0 0 calc(25% - 20px); /* Three images per row with some margin */
    margin: 10px; /* Adjust the margin for spacing between images */
    box-sizing: border-box;
    position: relative;
  }
  
  /* .image_favourite_down {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;

  } */

  .heart-icon.bgred {
  position: absolute;
  bottom: 0.5em;
  right: 0.3em;
  border-radius: 50%;
  padding: 5px;
  width: 2em;
  height: 2em;
  /* background-color: white; Default background color */
  cursor: pointer;
  transition: background-color 0.2s; /* Smooth background color transition */
  color: red;
  fill: red;
}

.heart-icon {
  position: absolute;
  bottom: 0.5em;
  right: 0.3em;
  border-radius: 50%;
  padding: 5px;
  width: 2em;
  height: 2em;
  /* background-color: white; Default background color */
  cursor: pointer;
  transition: background-color 0.2s; /* Smooth background color transition */
  color: white;
}



  
