/* Footer.css */
.footer {
  background: #5a5959;
  color: white;
  text-align: center;
  padding: 5px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  margin-top: 20px;
}

.contact-container {
  display: flex;
  align-items: center;
  width: 9em;
}

.social-container {
  display: flex;
  align-items: center;
  max-width: 6em;
}

.footer p {
  margin: 2px 0;
}

.footer a {
  color: white;
  text-decoration: none;
}

.social-media-links {
  margin-top: 5px;
}

.social-media-links a {
  margin: 0 5px;
}

.social-container img {
  width: 15px;
  height: 15px;
}

/* New CSS to ensure the footer is always at the bottom */
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
}

.contactus p{
  display: contents;
}

.contactus{
  width: 8em;
  display: grid;
}