.header {
    font-size: 1em;
  }
  
  .container {
    display: flex;
  }
  
  .sidebar {
    width: 8em;
  }
  
  .content {
    padding: 1px;
  }
  
  .wrapper-images img {
    padding: 0em;
  }
  
  .content h2 {
    margin: 0.5em;
  }
  
  .wrapper-images-pro {
    position: relative;
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5%;
    border: 0.25px dashed;
    border-image: linear-gradient(90deg, #66d3ff, #9a6aff 38%, #ee75cb 71%, #fd4d77) 0.5;


  }
  
  .wrapper-images-pro:hover {
    transform: scale(1.05);
  }
  
  .wrapper-images-pro img {
    width: 10em;
    height: 11em;
    margin: auto;
    object-fit: cover;
    border-radius: 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* border: 2px solid gray; */
  }
  
  .wrapper-pro {
    display: grid;
    grid-template-columns: repeat(8, 1fr); /* 8 images per row for larger screens */
    gap: 0.50em; /* Gap between grid items */
    margin: 3em;
  }
  
  .wrapper-pro p {
    margin: 0;
  }
  
  .loading-spinner img {
    margin-left: 0em !important;
  }
  
  /* Responsive adjustments for tablets */
  @media (max-width: 1024px) {
    .wrapper-pro {
      grid-template-columns: repeat(4, 1fr); /* 4 images per row for tablets */
      margin: 1em;
    }
  }
  
  /* Responsive adjustments for mobile devices */
  @media (max-width: 768px) {
    .wrapper-pro {
      grid-template-columns: repeat(3, 1fr); /* 2 images per row for mobile devices */
      margin: 1em;
    }
  
    .wrapper-images-pro img {
      width: 100%; /* Full width on mobile */
      height: auto;
    }
  }

.selected-main {
  border: 3px solid #007bff !important;
}

.selected-duplicate {
  border: 3px solid #28a745 !important;
}

.statsSections {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Optional: Aligns items vertically centered */
  font-size:larger;
  padding-left: 3%;
  padding-right: 3%;
}

.toolbar {
  display: none;
  margin-bottom: 1em;
}

.toolbar button {
  padding: 0.5em 1em;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  /* display: none; Remove this line in order to enable the merge button on Flashback Pro Page */
}

.toolbar button:hover {
  background-color: #0056b3;
}

.content-wrap{
  background-color: black;
}

 .totalCount{
  display: block;
  margin-left: auto;
  margin-right: 0;
  margin-top: 1em;
}

.header {
  font-size: 1em;
}

.container {
  display: flex;
}

.sidebar {
  width: 8em;
}

