.event-details-container {
  padding: 20px;
  width: 80%;
  margin: auto;
  background-color: #1c1c1c;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.event-details-title {
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
  color: #f1f1f1;
}

.model-tab-content {
  flex-grow: 1; /* This allows the content area to grow and take the available space */
}

.model-details-content,
.datasets-content {
  padding: 20px;
  background-color: #2a2a2a;
  border-radius: 8px;
  margin-bottom: 20px;
}

.tab-container {
  display: flex;
  justify-content: center;
  margin-top: auto;
  background-color: #333;
  padding: 10px;
  border-radius: 0 0 8px 8px;
  
}

.tab-link {
  padding: 10px 20px;
  cursor: pointer;
  color: #f1f1f1;
  margin: 0 10px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.tab-link:hover {
  background-color: #444;
}

.tab-link.active {
  background-color: #555;
  font-weight: bold;
}

/* Other existing styles... */
.ed-form-group {
  margin: auto;
  max-width: 60em;
  margin-bottom: 15px;
}

.ed-form-value {
  margin-bottom: 10px;
  padding: 0.2em;
  font-size: 1.4em;
  margin: 0.5em !important;
  color: white;
}

/* Further styling for content, buttons, etc... */
