
.dataset-details-modal {
  background-color: white;
  opacity: 100%;
  label {
  color: black;
  align-self: start;
  }
  span {
    align-self: start;
  }
  .modal-header {
    justify-content: center;
    position: relative;
    .close-button {
      width: fit-content;
      position: absolute;
      right: 10px;
    }
  }


}

.model-details-container {
  padding: 1.25em;
  /* width: 50em; 80% of 62.5em (1000px) */
  margin: auto;
  border-radius: 0.5em;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
}

.model-details-title {
  text-align: center;
  font-size: 2em;
  margin-bottom: 1.25em;
  color: black;
}

.model-details-content {
  position: relative;
  padding: 1.25em;
  border-radius: 0.5em;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
}

.md-form-group {
  margin: auto;
  max-width: 60em;
  margin-bottom: 0.9375em;
}





.model-link {
  display: block;
  margin-top: 1.25em;
  text-align: center;
  color: #007bff;
  text-decoration: none;
}

.model-link:hover {
  text-decoration: underline;
}

.m-req-modal-content {
  padding: 1.25em;
  background-color: #fff;
  border-radius: 0.5em;
  max-width: 31.25em; /* 500px */
  margin: 0 auto;
}

.m-req-modal-body {
  margin-top: 1.25em;
}
.m-datasets-bottom-section{
  display: flex;
  justify-content: space-around;
}


