header {
  padding: 0.8em 2rem;
  font-size: 1em;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 0.8em;
  left: 0;
  z-index: 12;
  background-color: #1c1c1c;
  /* background-color: red; */
}

.stickToTop{
  position: sticky;
  top: 0;
}

.m_Bottom_Low {
  margin-bottom: 0.5em !important;
}

header h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.1em;
  color: #bbb6b6;
  font-size: 2em;
  position: relative;
  width: fit-content;
}

header h2::after {
  content: "Create & Share Memories";
  position: absolute;
  bottom: -1em;
  display: block;
  text-align: center;
  font-size: 30%;
  letter-spacing: 0.1em;
}

header img {
  width: 1.1em;
  height: 1em;
}

header h3 {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  color: #bbb6b6;
  font-size: 0.6em;
  /* font-weight: 300; */
  /* position: relative; */
  width: fit-content;
}
