.dataseDetails-root{
    text-align: center;
    color: black;
  }
  
  .dataset-details-container {
    padding: 1.25em;
    /* width: 50em; 80% of 62.5em (1000px) */
    margin: auto;
    border-radius: 0.5em;
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  }
  .datasetDetails-text{
    font-size: 1.5em;
  }
  
  
  .dataset-details-title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 1.25em;
    color: black;
  }
  
  .dataset-details-content {
    position: relative;
    padding: 1.25em;
    border-radius: 0.5em;
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  }
  
  .dd-form-group {
    margin: auto;
    max-width: 60em;
    margin-bottom: 0.9375em;
  }
  
  
  
  
  
  .dataset-link {
    display: block;
    margin-top: 1.25em;
    text-align: center;
    color: #007bff;
    text-decoration: none;
  }
  
  .dataset-link:hover {
    text-decoration: underline;
  }
  
  .d-req-modal-content {
    padding: 1.25em;
    background-color: #fff;
    border-radius: 0.5em;
    max-width: 31.25em; /* 500px */
    margin: 0 auto;
  }
  
  .d-req-modal-body {
    margin-top: 1.25em;
  }
  
  .d-req-bottom-section{
    display: flex;
    justify-content: space-around;
  }
  
  .disclaimer-text{
    color: grey;
    font-size: 0.6em;
  }
  .accept-section{
    display: flex;
    flex-direction: column;
  }
  .accept-button {
    width: 8em;
    height: 2.5em;
    font-size: 1em;
    border: none;
    border-radius: 0.25em;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.history-request-item {
  background-color: #fff;
  border-radius: 0.5em;
  box-shadow: 0 0.125em 0.5em rgba(0, 0, 0, 0.1);
  padding: 1em;
  margin-bottom: 1em;
  font-family: 'Arial', sans-serif;
}

.history-text {
  display: flex;
  justify-content: space-between; /* Aligns the label and value horizontally */
  font-size: 1em; /* Base font size */
  color: #333;
  margin-bottom: 0.375em; /* Space between rows */
}

.label-left {
  font-weight: 600;
  color: #000;
  width: 40%; /* Left label takes 40% of available width */
  text-align: left; /* Left align text */
}

.label-right {
  width: 60%; /* Right label takes 60% of available width */
  text-align: left; /* Right align text */
  color: #666; /* Right label value color */
}

.coins-credited {
  display: inline-flex;
  align-items: center;
  margin-top: 0.625em; /* Space above the coins-credited section */
}

.coins-credited span {
  margin-left: 0.3125em; /* Space between the coin icon and the number */
  font-size: 1.125em; /* Slightly larger font for emphasis */
  color: #f8b400; /* Coin color */
}

.modal-separator {
  border: 0;
  height: 0.0625em; /* Thin line */
  background: #e0e0e0;
  margin-top: 0.75em; /* Margin above the separator */
}

  
  
  